* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

body {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #444;
}

.header {
    height: 95vh;
    background-image: url(assets/eddy.jpg);
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 85%);
}
